* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #1c1c1c; */
    background-image: url("public/background.jpg");
    color: #fff;
    overflow-x: hidden;
}

.container {
    display: flex;
    height: 100vh;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
}

.intro {
    max-width: 50%;
}

.intro h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.intro p {
    margin: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #aaa;
}

.profile-image {
    max-width: 40%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Social Icons */

.social-icons {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 3;
}

.social-icons a {
    color: #fff;
    font-size: 1.25rem;
    transition: color 0.3s;
    z-index: 3;
}

.social-icons a:hover {
    color: #3a84f7;
    z-index: 3;
}

/* Contact Email */

.contact-email {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #aaa;
    font-size: 0.875rem;
    letter-spacing: 1px;
    z-index: 3;
}

.scroll-container {
  scroll-behavior: smooth; 
}

/* .snap-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: transform 0.3s ease-in-out; 
} */

.background-image {
  
  background-size: 100vh ; 
  height: 100vh;  
  width: 100%;   
}
 

.card{
  background: #000000;
  padding: 1rem;
  /* margin: 1rem 0; */
  border-radius: 8px;
  width: 200%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}